<div class="instances">
  (
  {{~#each instances as |instance|~}}
    <span class="damage instance color {{instance.type}}" data-tooltip="{{instance.typeLabel}}">
      {{~#if instance.persistent}}{{coalesce
          instance.head.term.expression
          instance.head.expression
        }}{{else}}{{instance.total}}{{/if}}
      {{#if (and instance.persistent (ne instance.type "bleed"))}}<i class="fa-duotone fa-hourglass"></i>{{/if~}}
      <i class="fa-solid fa-{{instance.iconClass}}"></i>
    </span>
    {{~#unless @last}} + {{/unless~}}
  {{~/each~}}
  )
</div>