<section class="fc-flatcheck-buttons">
	{{#each @root.buttons}}
	<div class="fc-check">
		<span class="fc-label" {{#if this.conditionAdjustment}}
			data-tooltip="{{this.conditionAdjustment.label}}: {{ @root.localizeType this.conditionAdjustment.old }} → {{ @root.localizeType this.conditionAdjustment.new }}"
			{{/if}}>
			<span {{#if this.conditionAdjustment }} class="adjusted" {{/if}}>{{ @root.localizeType this.type }}</span>
			{{#if this.origin}}
			{{#unless (eq this.type this.origin.slug)}}
			<span class="fc-description">{{ @root.localizeOrigin this.origin }}</span>
			{{/unless}}
			{{/if}}
		</span>
		<span class="fc-dc" data-tooltip="{{ this.dcAdjustments }}">
			<span>DC</span>
			<span class="fc-dcs">
				{{#unless (eq this.baseDc this.finalDc)}}
				<span>{{this.baseDc}}</span>
				{{/unless}}
				<span>{{this.finalDc}}</span>
			</span>
		</span>
		<span class="fc-roll">
			<span class="fc-rolls">
				{{#each this.rolls}}
				<span class="{{this.class}}">{{this.value}}</span>
				{{/each}}
				{{#if this.rerollIcon}}
				<span class="fc-icon">
					<i class="{{this.rerollIcon}}"></i>
				</span>
				{{/if}}
			</span>
		</span>
		{{#if this.showRollButton}}
		<button data-action="roll-flatcheck" data-key="{{this.key}}" data-dc="{{this.finalDc}}">
			{{#if this.rolls.length}}
			<i class="fa-solid fa-rotate rotate"></i>
			{{else}}
			<i class="fa-solid fa-dice-d20 die"></i>
			{{/if}}
		</button>
		{{/if}}
		</button>
	</div>
	{{/each}}
	</div>
</section>